@use "../../base/variables" as v;
@use "../../base/mixins" as m;

.productos {
  margin: 4rem;
  &__titulo{
    text-align: center;
    color: v.$primario;
    text-transform: uppercase;
    font-weight: 900;
    margin: 8rem 0;
    @include m.tablet { 
      font-size: 5rem;
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 6rem;
    @include m.tablet {
      grid-template-columns: 1fr 1fr;
    }
    @include m.desktop {
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;
    }
  }
  &__contenedor{
    max-width: 40rem;
    @include m.tablet { 
        max-width: 30rem;
    }
  }
}
