@use "../../base/variables" as v;
@use "../../base/mixins" as m;

.productos {
  margin: 4rem;
  &__titulo{
    @include m.titulo
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 6rem;
    @include m.tablet {
      grid-template-columns: 1fr 1fr;
    }
    @include m.desktop {
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;
    }
  }
  &__contenedor{
    max-width: 40rem;
    @include m.tablet { 
        max-width: 30rem;
    }
  }
  &__loader{
    margin:0 auto;
    
    @include m.tablet { 
      width: 100rem;
      height: 10vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
